<h1> Welcome to Message Board </h1>

<h2>Questions</h2>
{{#each model as |question|}}
  {{question-tile question=question}}
{{/each}}

{{new-question save="save"}}

<hr>
{{#link-to 'about'}}About{{/link-to}} |
{{#link-to 'contact'}}Click here to contact us.{{/link-to}} |
